{% extends 'base.html' %}
{%block title%} Create a New Blog Post!{%endblock%}

{% block content %}

{%if user.is_authenticated%}


    <h1>Add Blog Post</h1> 
    <br/></br>
    <div class = "form-group">
    <form method = "POST"> 
        {% csrf_token %}
        {{form.as_p}} 
        <button class="btn btn-secondary"> Post button</button>


    </div>

    <script> 
        var name = "{{user.id}}" 
        document.getElementById("mark").value = name;

    </script>
   {%else%}

    YOU ARE NOT ALLOWED HERE !! -__-
    
    {%endif%}
    


{% endblock %}
